/* header */

.navbar-main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: rgb(48, 46, 46);
  height: 5vw;
}

.navbar-main {
  width: 90%;
  height: 5vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.navbar-main li {
  width: 22.5%;
  text-align: center;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-main li a {
  position: relative;
  color: rgb(36, 36, 36);
  text-align: center;
  /* background-color: blue; */
  padding: 8px 8px 8px 8px;
  border-radius: 12px;
  text-decoration: none;
  background-color: white;
}

.navbar-main li a:hover {
  box-shadow: 5px 5px 0px 2px blue;
  border: 2px solid blue;
}

.navbar-main li a:active {
  box-shadow: 5px 5px 0px 2px rgb(0, 0, 90);
  border: 2px solid rgb(0, 0, 90);
}

/* tombol home */

.home-style {
  position: absolute;
  color: white;
  font-size: 3vw;
  left: 3vw;
  top: 1vw;
}

/* judul utama */

.judul-container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.judul {
  position: relative;
  display: flex;
  justify-content: center;
  /* background-color: green; */
  margin: 25px;
  width: max-content;
  height: max-content;
}

.judul::after {
  display: block;
  content: "";
  position: absolute;
  background: linear-gradient(to right, red, blue);
  width: 100%;
  height: 12px;
  right: 0;
}

h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  padding: 0 15px 0 15px;
}

.pembelajaran {
  font-size: 50px;
}

body {
  background-color: white;
}

/* main content */
/* section2 */

h2 {
  color: blue;
  font-size: 45px;
  margin-left: 25px;
}

p {
  color: rgb(56, 56, 56);
  text-indent: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 19px;
}

.container-pengertian {
  margin: 0 30px 0 30px;
  width: 90%;
}

/* section1 */

.bilah-nav-container {
  margin-left: 20px;
}

.bilah-nav-ul {
  color: white;
  height: 110px;
}

.bilah-nav-container li {
  height: 35%;
}

.bilah-nav-container ul li a {
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.bilah-nav-container h1 {
  color: blue;
  margin-left: 20px;
}

.bilah-nav-container div {
  display: flex;
  align-items: center;
  border: 2px solid grey;
  background-color: transparent;
  height: 130px;
  width: 28%;
}

.bilah-nav-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
}

/* footer */

h3 {
  font-size: 35px;
  color: orange;
  padding: 15px 0 0 10px;
  margin: 0;
}

footer {
  margin: 15px 0 0 0;
  background-color: black;
  padding: 0;
  height: 150px;
}

.footer-h4 {
  text-decoration: underline;
  color: white;
  padding-left: 10px;
  margin: 0;
}

.footer-list {
  width: 100%;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 15px 0 0 0;
  padding: 0;
}

.footer-list li {
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

address {
  width: 100%;
  margin: 0;
}

.footer-list-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.footer-list-content li {
  width: 25%;
  height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.social-media {
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.social-media i {
  margin: 0 10px 0 10px;
}
