/* JUDUL */

.judul-container {
  display: flex;
  justify-content: center;
}

.judul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: sans-serif;
  color: blue;
  background-color: white;
  margin: 25px;
  width: 35%;
  border-radius: 70px;
}

h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pembelajaran {
  font-size: 50px;
}

body {
  background-color: white;
}

h2 {
  color: blue;
  font-size: 45px;
  margin-left: 25px;
}

p {
  color: grey;
  text-indent: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 19px;
}

.container-pengertian {
  margin: 0 30px 0 30px;
  width: 90%;
}

nav {
  margin-left: 20px;
}

nav ul {
  color: white;
  height: 110px;
}

nav li {
  list-style: circle fill;
  height: 35%;
}

nav a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

nav h1 {
  color: blue;
  margin-left: 20px;
}

nav div {
  display: flex;
  align-items: center;
  border: 2px solid grey;
  background-color: transparent;
  height: 130px;
  width: 28%;
}

nav div:hover a {
  color: gray;
}

nav div:hover li {
  color: white;
}

nav a:hover {
  font-size: 20px;
  margin: 0 0 15px 0;
}

h3 {
  font-size: 35px;
  color: orange;
  padding: 15px 0 0 10px;
  margin: 0;
}

footer {
  margin: 15px 0 0 0;
  background-color: black;
  padding: 0;
  height: 150px;
}

.footer-h4 {
  text-decoration: underline;
  color: white;
  padding-left: 10px;
  margin: 0;
}

.footer-list {
  width: 100%;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 15px 0 0 0;
  padding: 0;
}

.footer-list li {
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

address {
  width: 100%;
  margin: 0;
}

.footer-list-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.footer-list-content li {
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 0;
}
